[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
daiquiri = "*"
pygithub = "*"
prometheus-client = "*"
prometheus-flask-exporter = "*"

[dev-packages]
"autopep8" = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.6"
