<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=800, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thoth - a website</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />

</head>

<body class="cards-pf">

    <nav class="navbar navbar-default navbar-pf" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='graphics/thoth.png') }}" alt="Thoth API jump page" width="10%" />
            </a>
        </div>
    </nav>

    <div class="container-fluid container-cards-pf" id="main">
        <div class="row row-cards-pf">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card-pf card-pf-accented card-pf-aggregate-status">
                    <h2 class="card-pf-title">
                        <span class="fab fa-jenkins"></span> CI/CD Pipeline
                    </h2>
                    <div class="card-pf-body">
                        <p class="card-pf-aggregate-status-notifications">
                            <span class="card-pf-aggregate-status-notification">
                                <a href=" https://jenkins-thoth-prod-ci.cloud.upshift.engineering.redhat.com/blue/organizations/jenkins/">BlueOcean UI</a>
                            </span>
                        </p>
                        <div class="card-pf-items text-center">
                            <div class="card-pf-item">
                                <span class="card-pf-item-text">CI/CD Pipeline</span>
                                <span class="card-pf-item-text">
                                    <a href='https://jenkins-thoth-prod-ci.cloud.upshift.engineering.redhat.com/blue/organizations/jenkins/AICoE%2FAI-Stacks-pipeline/branches/'>
                                        <img src='https://jenkins-thoth-prod-ci.cloud.upshift.engineering.redhat.com/buildStatus/icon?job=AICoE/AI-Stacks-pipeline/master'>
                                    </a>
                                </span>
                            </div>
                            <div class="card-pf-item">
                                <span class="card-pf-item-text">JanusGraph Container</span>
                                <span class="card-pf-item-text">
                                    <a href='#'>
                                        <a href='https://jenkins-thoth-prod-ci.cloud.upshift.engineering.redhat.com/blue/organizations/jenkins/goern%2FJanusGraph%20Database/activity'>
                                            <img src='https://jenkins-thoth-prod-ci.cloud.upshift.engineering.redhat.com/buildStatus/icon?job=goern/JanusGraph Database/master'>
                                        </a>
                                    </a>
                                </span>
                            </div>
                            <div class="card-pf-item">
                                <span class="card-pf-item-text">Core API</span>
                                <span class="card-pf-item-text">
                                    <a href='https://jenkins-thoth-prod-ci.cloud.upshift.engineering.redhat.com/blue/organizations/jenkins/goern%2Fthoth-core/activity'>
                                        <img src='https://jenkins-thoth-prod-ci.cloud.upshift.engineering.redhat.com/job/goern/job/thoth-core/job/master/badge/icon'>
                                    </a>
                                </span>
                            </div>
                            <div class="card-pf-item">
                                <span class="card-pf-item-text">Dependency Monkey</span>
                                <span class="card-pf-item-text">
                                    <a href='https://jenkins-thoth-prod-ci.cloud.upshift.engineering.redhat.com/blue/organizations/jenkins/AICoE%2Fthoth-dependency-monkey/activity'>
                                        <img src='https://jenkins-thoth-prod-ci.cloud.upshift.engineering.redhat.com/job/AICoE/job/thoth-dependency-monkey/job/master/badge/icon'>
                                    </a>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card-pf card-pf-accented card-pf-aggregate-status">
                    <h2 class="card-pf-title">
                        <span class="pf pficon-topology"></span> Analyse & Solve API
                    </h2>
                    <div class="card-pf-body">
                        <div class="card-pf-items text-center">
                            <div class="card-pf-item">
                                <span class="card-pf-item-text">
                                    <a href="http://user-api-thoth-test-core.cloud.upshift.engineering.redhat.com/api/v1/ui/#!/management/analyze">Swagger UI</a>
                                </span>
                                <span class="card-pf-item-text">
                                    <a href="/graph">Graph Explorer</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card-pf card-pf-accented card-pf-aggregate-status">
                    <h2 class="card-pf-title">
                        <span class="pf pficon-image"></span> Result API
                    </h2>
                    <div class="card-pf-body">
                        <div class="card-pf-items text-center">
                            <div class="card-pf-item">
                                <span class="card-pf-item-text">
                                    <a href="http://user-api-thoth-test-core.cloud.upshift.engineering.redhat.com/api/v1/ui/#/results">Index View</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card-pf card-pf-accented card-pf-aggregate-status">
                    <h2 class="card-pf-title">
                        <span class="pf pficon-network"></span> Dependency Monkey
                    </h2>
                    <div class="card-pf-body">
                        <div class="card-pf-items text-center">
                            <div class="card-pf-item">
                                <span class="card-pf-item-text">
                                    <a href="http://api-service-thoth-test-core.cloud.upshift.engineering.redhat.com/openapi/">Swagger UI</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/js/patternfly.min.js"></script>
</body>

</html>